[servers]
servera ansible_host=SERVER_A_IP ansible_user=YOUR_USER ansible_ssh_private_key_file=~/.ssh/servera private_ip=PRIVATE_IP_A
serverb ansible_host=SERVER_B_IP ansible_user=YOUR_USER ansible_ssh_private_key_file=~/.ssh/serverb private_ip=PRIVATE_IP_B
serverc ansible_host=SERVER_C_IP ansible_user=YOUR_USER ansible_ssh_private_key_file=~/.ssh/serverc private_ip=PRIVATE_IP_C

[debian]
servera

[alpine]
serverb
serverc

[all:vars]
cloudflared_token={{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}
